.review-container {
    max-width: 322px;
    max-height: 340px;
    background-color: #1A1A20;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
}

.review-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.user-handle {
    color: #676778;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
}

.posted-time {
    color: #4B4B58;
    font-family: 'Inter';
    font-weight: 500;
}

.review-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 8px;
}

.review-body-title{
    font-size: 18px;
}

.review-message{
    font-weight: 500;
    font-family: 'IBM Plex Sans';
    color: #A3A3B7;
}

.review-image-container {
    margin-top: 12px;
    display: flex;
    gap: 10px;
    width: 322px;
}

.review-image-container img {
    border-radius: 4px;
    width: 102px;
    height: 103px;
}

.review-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

@media screen and (max-width: 1239px) {

    .review-container {
        max-width: 282px;
        max-height: 290px;
        padding: 12px;
    }

    .user-handle,
    .posted-time {
        font-size: 12px;
    }

    .review-body-title{
        font-size: 15px;
    }

    .review-message {
        font-size: 12px;
    }

    .review-image-container img {
        width: 87px;
        height: 89px;
    }

    .review-container:first-child {
        margin-left: 12px;
    }
}