.tabs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: fit-content;
  padding: 4px;
  background: #1a1a20;
  border-radius: 12px;
}

.tabs {
  display: flex;
  gap: 3px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  line-height: 19.14px;
  letter-spacing: -0.02em;
  text-align: left;

  color: #666;
}

.tab.active {
  background: linear-gradient(180deg, #7848ff 0%, #6254ff 100%);
  border-radius: 8px;
  color: white;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
